<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope" style="color: red;"></i>
                <a href="Mohammed AL-Duais" style="color: white;">
                        mohammedaldoais1996@gmail.com
                    </a>
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt" style="color: red;"></i>
                <a href="tel:00967770774255" style="color: white;"> 
                        +967 770527144
                        </a>
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->